#api {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#main {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#ibge-input {
  width: 250px;
  height: 25px;
  padding-left: 10px;
}

#search-btn {
  width: 80px;
  height: 25px;
}

#regioes {
  width: 400px;
  height: 500px;
}